<a href="https://colab.research.google.com/github/baronningthoujam109-max/ml-lab/blob/main/Exp4_Splitting_Dataset___4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel("/content/Salary_Dataset_3&4.xls")

In [6]:
df.head()

   Australia  Canada  Dubai  USA  Salary  YearsExperience  Purchased
0          0       0      1    0   39343              1.1          0
1          0       1      0    0   46205              1.3          1
2          0       1      0    0   37731              1.5          0
3          0       1      0    0   43525              2.0          0
4          0       0      0    1   39891              2.2          0

In [7]:

X = df.iloc[:,:-1]

y = df.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state = 90)

In [9]:
X_train

    Australia  Canada  Dubai  USA  Salary  YearsExperience
29          0       1      0    0  121872             10.5
6           0       1      0    0   60150              3.0
20          0       1      0    0   91738              6.8
23          1       0      0    0  113812              8.2
25          1       0      0    0  105582              9.0
14          1       0      0    0   61111              4.5
8           0       0      1    0   64445              3.2
22          1       0      0    0  101302              7.9
15          0       0      0    1   67938              4.9
21          1       0      0    0   98273              7.1
9           0       0      1    0   57189              3.7
13          0       1      0    0   57081              4.1
16          0       0      0    1   66029              5.1
19          0       1      0    0   93940              6.0
11          0       0      0    1   55794              4.0
0           0       0      1    0   39343              1.1
10          0       0      1    0   63218              3.9
28          0       0      0    1  122391             10.3
5           0       0      1    0   56642              2.9
4           0       0      0    1   39891              2.2
7           1       0      0    0   54445              3.2
3           0       1      0    0   43525              2.0
18          1       0      0    0   81363              5.9
27          0       0      0    1  112635              9.6

In [10]:
X_test

    Australia  Canada  Dubai  USA  Salary  YearsExperience
17          0       1      0    0   83088              5.3
24          0       0      1    0  109431              8.7
26          0       0      1    0  116969              9.5
2           0       1      0    0   37731              1.5
1           0       1      0    0   46205              1.3
12          0       0      1    0   56957              4.0

In [11]:
y_train

29    1
6     1
20    0
23    1
25    1
14    0
8     1
22    0
15    0
21    0
9     0
13    0
16    0
19    0
11    0
0     0
10    1
28    0
5     0
4     0
7     0
3     0
18    1
27    1
Name: Purchased, dtype: int64

In [12]:
y_test

17    0
24    0
26    0
2     0
1     1
12    1
Name: Purchased, dtype: int64